<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>大象教育优惠券</title>
		<link rel="stylesheet" href="__STATIC__/css/global.css" />
		<link rel="stylesheet" href="__STATIC__/css/style.css" />
		<script src="__STATIC__/js/jquery-2.1.0.js"></script>
		<script src="__STATIC__/js/jquery.SuperSlide.2.1.3.js"></script>
	</head>
	<body>
		<div class="quanALl">
			<!--单条-->
			{volist name="coupon" id="c"}
			<div class="item">
				<!--未使用的-->

				
				{if condition="$c['status'] eq 1"}
				<img src="__STATIC__/images/used.png" alt="" />
				{else /}
				<img src="__STATIC__/images/use.png" alt="" />

				{/if}
				<div class="quanContent">
					<div>
						<h3 class="price">￥{$c['name']}</h3>
						<p class="p1">{$c['desc']}</p>
					</div>
				</div>
				
			</div>
			{/volist}
			<!--单条over-->
			
		</div>
	</body>
</html>
