<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>大象教育赚红包</title>
		<link rel="stylesheet" href="__STATIC__/css/global.css" />
		<link rel="stylesheet" href="__STATIC__/css/style.css" />
		<script src="__STATIC__/js/jquery-2.1.0.js"></script>
		<script src="__STATIC__/js/jquery.SuperSlide.2.1.3.js"></script>		
	</head>
	<body class="home-body bgcolorf0d44c">
		
		
		<div class="home-body2">
			<!--第一部分-->
				<div class="home-top">
					<h3 class="h3">{$act['title']}</h3>
					<h4 class="h4">
						{$act['keywords']}
						<!-- <span>学得会</span>
						<span>记得牢</span>
						<span>考得好</span> -->
					</h4>
					<div class="home-top-img">
						<img src="__STATIC__/images/home-top1.png"  alt="" />
					</div>
				</div>
			<!--第一部分over-->
			<!--第二部分-->
			<div class="share-part2 clearfix">
				<span class="span1">加入大象教育 轻松记忆</span>
				<span class="span2">欢迎到本校实体门店体验咨询</span>
				<span class="span1">最强大脑英文记忆法</span>
				<span class="span3">7天记熟所有小学阶段英文单词</span>
			</div>
			<!--第二部分over-->
			<!--如何加入大象培训-->
			<div class="share-part3">
				<p class="p1">
					<span class="span1">如何加入大象培训</span>
					<span class="span2">( 单人限购1份 )</span>
				</p>
				<div class="maall">
					<div>
						<p class="p1">
							<span class="fff">扫二维码进入</span>
							<span class="c8913d">报名通道</span>
						</p>
						<div class="erweima">
							<img src="{$data['qrcode']}" alt="" />
						</div>
					</div>
				</div>
				<div class="share-last">
					<span class="fff">选择【</span>
					<span class="c8913d">赚红包</span>
					<span class="fff">】有机会得</span>
					<span class="c8913d">6-66元红包</span>
				</div>
			</div>
			<!--如何加入大象培训over-->
		</div>
		
	</body>
</html>
