{extend name="template/base" /}
{block name="nav"}{/block}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" enctype="multipart/form-data"
          action="{:Url('/admin/bminfo/edit/','','')}">
        
        <input type="hidden" name="id" value="{$new_list.id }">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>参与活动：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    {$activity['title']}
                    
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>微信名：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="微信名" name="name" datatype="*"
                       nullmsg="微信名" value="{$new_list['name']}">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>手机号：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="手机号" name="phone" datatype="*"
                       nullmsg="手机号" value="{$new_list['phone']}">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>头像：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" id="uploads" name="image" placeholder="请点击后面的上传按钮" datatype="*"
                       nullmsg="请填写图片url" style="width:300px" value="{$new_list['image']}">
                <button type="button" class="btn btn-primary radius"
                        onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'uploads\'])}')">
                    上传
                </button>
                <a onclick="$(this).attr('href', $('#uploads').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>佣金（假的）：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="佣金" name="yongjin" datatype="*"
                       nullmsg="佣金" value="{$new_list['yongjin']}">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>是否分享：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    {if condition="$new_list['status'] eq 1"}
                    分享
                    {else /}
                    不分享
                    {/if}
                    
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/lightbox2/css/lightbox.min.css">
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script src = "__LIB__/lightbox2/js/lightbox.min.js" ></script>
<script src="__LIB__/laypage/1.3/laypage.js"></script>
<script type="text/javascript" src="__LIB__/showdown/1.4.2/showdown.min.js"></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<script>window.UEDITOR_HOME_URL = '__LIB__/ueditor/1.4.3/'</script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
    $(function () {
        var ue = UE.getEditor('editor', {
            serverUrl: '{:\\think\\Url::build("Ueditor/index")}'
        });
        var converter = new showdown.Converter(),
            text = $("#markdown_tpl").html();
        $("#markdown").html(converter.makeHtml(text));
    })
    $(function () {
        $("[name='goods_ifzhenpin'][value='{$vo.goods_ifzhenpin ?? '1'}']").attr("checked", true);
        $("[name='goods_commend'][value='{$vo.goods_commend ?? '0'}']").attr("checked", true);
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $('.skin-square input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret) {
                ajax_progress(ret);
            }
        });
    })

</script>

{/block}
